<h1>Inicio de sesión</h1>
<p>
    <span class="text-primary">Bienvenido</span> a EMTTracker. 
    Por favor, introduce tus credenciales
</p>

<form method="post">
    <label>Correo electrónico: </label><br />
    <input class="form-control" type="email" name="email" /><br />
    <label>Contraseña: </label><br />
    <input class="form-control" type="password" name="passwd" /><br />
    <button class="btn btn-primary">Iniciar sesión</button>
</form>
